@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.header-container{
    height: 80px !important;
    border-radius: 50px;
    background-color: #4373e4 !important;
}
.header{
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-tag-line{
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
.login-container{
    width: 400px;
    margin: 60px 0px 0px 600px;
}
.register-container{
    width: 500px;
    margin-top: 30px;
}
.homepage-content .navbar-brand, .homepageuser-content .navbar-brand{
    font-size: 40px !important;
    margin-left: 20px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homepage-nav, .homepageuser-nav{
    border-bottom: 1px solid black;
    border-radius: 25px;
}
.homepage-nav .header-nav-items{
    margin-left: 250px;
}
.homepageuser-nav .header-nav-items{
    margin-left: 400px;
}
.header-nav-items a{
    font-size: 27px;
    color: #4373e4  !important;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}
.header-nav-items a:hover{
    color: #000 !important;
    outline: none;
}
.homepage-nav .header-nav-items .logout{
    font-size: 27px;
    margin-left: 350px;
    color: #4373e4 !important;
    padding: 4px;
    margin-top: 4px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homepageuser-nav .header-nav-items .logout{
    font-size: 27px;
    margin-left:490px;
    color: #4373e4 !important;
    padding: 4px;
    margin-top: 4px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-nav-items .logout:hover{
    color: #e94cb5 !important;
}
.header-nav-items .nav-item-active a{
    color: #e94cb5 !important;
    outline: none;
}
.users-table, .requests-table{
    width: 1000px;
}
.products-table{
    width: 1200px;
}
.inventory-table, .cart-table{
    width: 900px;
}
.loader{
    position: absolute;
    color: #4373e4;
    font-size: 35px;
    margin-left: 615px;
    margin-top: 200px;
}
.empty-cart, .empty-requests{
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
    font-size: 55px;
}
.btn-checkout{
    font-size: 18px;
    border-radius: 20px !important;
    margin-top: 17px;
}
.total-bill{
    margin-top: 50px;
    border: 2px dotted #4373e4;
    padding: 15px;
    width: 350px;
}
.total-bill span{
    margin-right: 30px;
    font-size: 25px;
    color: #4373e4;
}